<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head th:replace="fragments :: html_head">
</head>

<body>
<div class="container my-2">
    <div th:replace="fragments :: login_status">

    </div>
    <div class="card">
        <div class="card-body">
            <div class="container my-5">
               <h2>You don't have permission for this action</h2>
            </div>
        </div>
        <div class="col-md-6">
            <input type="button" class="btn btn-primary" value="Back" onclick="history.back(-1)">
        </div>
    </div>
</div>

</body>
</html>