<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="fragments :: html_head">
</head>

<body>
<div class="container my-2">
    <div th:replace="fragments :: login_status"></div>
    <h3> Create New Author</h3>
    <div class="card">
        <div class="card-body">
            <div class="col-md-10">
                <form action="#" th:action="@{/create_author}" th:object="${author}" method="post">
                    <div class="row">
                        <div class="form-group col-md-8">
                            <label for="name" class="col-form-label">Name</label>
                            <input type="text" th:field="*{name}" class="form-control"
                                   id="name" placeholder="Name" />
                        </div>
                        <div class="form-group col-md-8">
                            <label for="name" class="col-form-label">Description</label>
                            <input type="text" th:field="*{description}" class="form-control"
                                   id="description" placeholder="Description" />
                        </div>

                        <div class="col-md-6">
                            <input type="submit" class="btn btn-primary" value=" Submit ">
                        </div>

                        <input type="hidden" id="id" th:field="*{id}">

                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
</body>

</html>