<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="fragments :: html_head">
</head>

<body>
<div class="container my-2">
    <div th:replace="fragments :: login_status"></div>
    <h3> Edit Book</h3>
    <div class="card">
        <div class="card-body">
            <div class="col-md-10">
                <form action="#" th:action="@{/edit_book}" th:object="${book}" method="post">
                    <div class="row">
                        <div class="form-group col-md-8">
                            <label for="name" class="col-form-label">Name</label>
                            <input type="text" th:field="*{name}" class="form-control"
                                   id="name" placeholder="Name" />
                        </div>
                        <div class="form-group col-md-8">
                            <label for="name" class="col-form-label">Sub Name</label>
                            <input type="text" th:field="*{subName}" class="form-control"
                                   id="subName" placeholder="Sub Name" />
                        </div>
                        <div class="form-group col-md-8">
                            <label for="name" class="col-form-label">Series Name</label>
                            <input type="text" th:field="*{serName}" class="form-control"
                                   id="serName" placeholder="Series Name" />
                        </div>
                        <div class="form-group col-md-8">
                            <label for="name" class="col-form-label">ISBN</label>
                            <input type="text" th:field="*{isbn}" class="form-control"
                                   id="isbn" placeholder="ISBN" />
                        </div>

                        <div class="form-group col-md-8">
                            <label for="name" class="col-form-label">Description</label>
                            <input type="text" th:field="*{description}" class="form-control"
                                   id="description" placeholder="Description" />
                        </div>

                        <div class="form-group col-md-8">
                            <div class="row align-items-end no-gutters">
                                <div class="col-sm-10">
                                    <label for="name" class="col-form-label">Author</label>
                                    <select class="form-control" th:field="*{author}">
                                        <option th:each="aut : ${authors}" th:value="${aut.id}" th:text="${aut.name}">
                                        </option>
                                    </select>
                                </div>
                                <div class="col-sm d-flex justify-content-end">
                                    <a href="/new_author" class="btn btn-primary">
                                        <i class="fas fa-plus"></i>
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="form-group col-md-8">
                            <div class="row align-items-end no-gutters">
                                <div class="col-sm-10">
                                    <label for="name" class="col-form-label">Publisher</label>
                                    <select class="form-control" th:field="*{publisher}">
                                        <option th:each="pub : ${publishers}" th:value="${pub.id}" th:text="${pub.name}">
                                        </option>
                                    </select>
                                </div>
                                <div class="col-sm d-flex justify-content-end">
                                    <a href="/new_publisher" class="btn btn-primary">
                                        <i class="fas fa-plus"></i>
                                    </a>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-6">
                            <input type="submit" class="btn btn-primary" value=" Submit ">
                        </div>

                        <input type="hidden" id="id" th:field="*{id}">

                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
</body>

</html>