<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head th:replace="fragments :: html_head">


</head>
<body>
<div class="container my-2">
    <div th:replace="fragments :: login_status"></div>
    <div class="card">
        <div class="card-body">
            <div th:replace="fragments :: top_button_bar"></div>
            <div th:replace="fragments :: search_bar('/search')"></div>

            <div th:switch="${bookList}" class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div th:case="*">
                            <table class="table table-striped table-responsive-md">
                                <thead>
                                <tr>
                                    <th>Name</th>
                                    <th>Sub Name</th>
                                    <th>Author</th>
                                    <th>Publisher</th>
                                    <th>ISBN</th>
                                    <th>Details</th>
                                    <th sec:authorize="hasAnyAuthority('ADMIN','MANAGER')">Edit</th>
                                    <th sec:authorize="hasAnyAuthority('MANAGER')">Delete</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr th:each="book:${bookList}">
                                    <td th:text="${book.name}">Name</td>
                                    <td th:text="${book.subName}">Sub Name</td>
                                    <td th:text="${book.author.name}">Author</td>
                                    <td th:text="${book.publisher.name}">Publisher</td>
                                    <td th:text="${book.isbn}" style="white-space: nowrap;">ISBN</td>
                                     <td>
                                         <a th:href="@{/book/details/{id}(id=${book.id})}" class="btn btn-info">
                                             <i class="fas fa-info-circle"></i>
                                         </a>
                                     </td>
                                     <td sec:authorize="hasAnyAuthority('ADMIN','MANAGER')">
                                         <a th:href="@{/book/formpage/{id}(id=${book.id})}" class="btn btn-info">
                                             <i class="fas fa-edit"></i>
                                         </a>
                                     </td>
                                     <td sec:authorize="hasAnyAuthority('MANAGER')">
                                         <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#exampleModalCenter">
                                             <i class="fas fa-trash-alt"></i>
                                         </button>
                                         <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle-${book.id}" aria-hidden="true">
                                             <div class="modal-dialog modal-dialog-centered" role="document">
                                                 <div class="modal-content">
                                                     <div class="modal-header">
                                                         <h5 class="modal-title" id="exampleModalLongTitle">Delete User</h5>
                                                         <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                             <span aria-hidden="true">&times;</span>
                                                         </button>
                                                     </div>
                                                     <div class="modal-body">
                                                         Do you want to delete this user ?
                                                     </div>
                                                     <div class="modal-footer">
                                                         <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                                         <button th:onclick="'javascript:confirmDelete(' + ${book.id} + ');'" type="button" class="btn btn-danger">Delete</button>
                                                     </div>
                                                 </div>
                                             </div>
                                         </div>
                                     </td>
                                 </tr>
                                 </tbody>
                             </table>
                         </div>

                     </div>
                 </div>

             </div>
         </div>
     </div>
 </div>
 <script type="text/javascript">
     function clearFilter(){
         window.location='/';
     }
     function confirmDelete(id){
        window.location='/book/delete/'+id;
     }
 </script>
<div th:replace="fragments :: cdn"> </div>
 </body>
 </html>