<!DOCTYPE html >
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head
        th:replace="fragments :: html_head">
</head>
<body>

<div class="container my-2">
    <div th:replace="fragments :: login_status"></div>

<div class="card">

    <div class="card-body">
        <p class="my-4" align="center">
            <a sec:authorize="hasAnyAuthority('ADMIN','MANAGER')" href="/user/create" class="btn btn-success">
                <i class="fas fa-user mr-2"></i></i>New User</a>
        </p>
        <div th:replace="fragments :: search_bar('/user/search')"></div>
        <div th:switch="${users}" class="container">
            <div class="row">
                <div class="col-md-12">
                    <div th:case="*">
                        <table class="table table-striped table-responsive-md">
                            <thead>
                            <tr>
                                <th>User Name</th>
                                <th>Role</th>
                                <th>Enabled</th>
                                <!--/* <th>Details</th> */-->
                                <th>Edit</th>
                                <th>Delete</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr th:each="user:${users}">

                                    <td th:text="${user.username}">Name</td>
                                    <td th:each="role:${user.roles}">
                                        <span th:text="${role.name}"></span>
                                    </td>
                                    <td th:text="${user.enabled}">enabled</td>
                                <!--/* Details Section
                                    <td>
                                        <a th:href="@{/user/details/{id}(id=${user.id})}" class="btn btn-info">
                                            <i class="fas fa-info-circle"></i>
                                        </a>
                                    </td>
                                */-->
                                    <td>
                                        <a th:href="@{/user/edit/{id}(id=${user.id})}" class="btn btn-info">
                                            <i class="fas fa-edit"></i>
                                        </a>
                                    </td>
                                    <td>
                                        <div th:if="${#authentication.principal.username != user.username}">
                                            <a href="javascript:void(0)" th:onclick="'javascript:deleteUser(' + ${user.id} + ');'"  class="btn btn-danger">
                                                <i class="fas fa-trash-alt"></i>
                                            </a>
                                        </div>
                                    </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>

                </div>
            </div>

        </div>
        <div class="col-md-6">
            <a type="button" class="btn btn-primary"  href="/">Ana Sayfa</a>
        </div>
    </div>
</div>
</div>
<script type="text/javascript">
     function clearFilter(){
         window.location='/user/list';
     }
     function deleteUser(id){
        let conf=confirm('Do you want delete user ?');
        if(conf){
            window.location='/user/delete/'+id;
        }
     }
 </script>
</body>
</html>